@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-screen {
  @apply mx-auto max-w-screen-xl px-4 md:px-8;
}

.selected {
  color: black;
}

.scaffold-grid-item {
  /* Other styling for the grid item */
  position: relative;
  overflow: hidden;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  backdrop-filter: blur(0);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 450px;
}

/* This pseudo-element covers the whole card and blurs the background */
.scaffold-grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.3s ease;
  z-index: 1; /* behind the buttons but above the content */
  pointer-events: none; /* makes sure clicks go through to the buttons */
}

/* Hover state */
.scaffold-grid-item:hover::before {
  backdrop-filter: blur(10px);
}

.scaffold-grid-item:hover .scaffold-content {
  /* Optionally, fade the content a bit when hovering */
  opacity: 0.9;
}

.scaffold-content {
  position: relative;
  z-index: 2; /* above the pseudo-element */
  /* ... other styles ... */
}

.scaffold-buttons {
  position: absolute;
  left: 50%; /* Center horizontally in the grid item */
  transform: translate(-50%, 0%); /* Adjust for exact centering */
  display: flex;
  flex-direction: column; /* Stack buttons and ratings vertically */
  align-items: center; /* Center items horizontally in the flex container */
  gap: 8px; /* Space between items */
  z-index: 10;
  width: auto; /* Let it size according to content */
}

.scaffold-buttons > div {
  width: 100%; /* Make the ratings container take full width of the parent */
  display: flex;
  justify-content: center; /* Center ratings horizontally */
  align-items: center; /* Center ratings vertically */
  margin-bottom: 10px; /* Space below each ratings row */
}

.copy-paste-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 120px;
  z-index: 10;
  margin-bottom: 20px;
}

.copy-paste-buttons button {
  padding: 8px 16px;
  /* border: none; */
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.1s;
  font-size: 0.9em;
}

.copy-paste-buttons button:hover {
  background-color: rgb(15, 23, 42);
  color: white;
  transform: scale(1.1);
}

.scaffold-buttons-title {
  text-align: center;
  color: #000000;
  font-weight: bold;
  position: absolute;
  display: flex; /* align buttons horizontally */
  justify-content: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 8px;
  z-index: 10;
}

.scaffold-overview-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 40px;
}

.scaffold-header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold;
}

.scaffold-detail {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.scaffold-detail-title {
  font-weight: bold;
  min-width: 150px; /* Adjust as needed for alignment */
  color: #555;
}

.scaffold-detail-content {
  flex-grow: 1;
  padding-left: 10px; /* Adds some space between the title and the content */
}

.scaffold-grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.scaffold-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

.scaffold-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  /* Adjust this value based on your design requirements */
  .scaffold-grid {
    grid-template-columns: 1fr; /* Stack items vertically on smaller screens */
  }
}

.scaffold-grid-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left; /* Adjusted for better text alignment */
  white-space: pre-wrap; /* This will preserve newlines and spaces */
  overflow-wrap: break-word; /* To prevent overflow */
  /* Add more styling according to your preference */
}

.gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(white, white),
    linear-gradient(
      25deg,
      rgba(209, 213, 219, 1),
      rgba(209, 213, 219, 1),
      rgba(0, 0, 0, 0.63),
      rgba(209, 213, 219, 1),
      rgba(209, 213, 219, 1)
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}